
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    vertical-align: baseline;
    outline: none;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #f1f1f2;
}

.page_header {
    padding: 70px 0 0 30px;
}

.page_header > img {
    padding-right: 20px;
}

.page_header__top_icon {
    display: inline-block;
}

.page_header__top_title {
    display: inline-block;
}


.h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 52px;
    color: #ff2d55;
}

.modal_box_main {
    padding: 30px 0 0 60px;
    width: 860px;
}

.modal_box_main > * {
    margin-bottom: 30px;
}

.modal_box_item {
    background: #ffffff;
    overflow: hidden;
    padding: 30px 30px 20px 30px;
}

.modal_box_item > * {
    padding: 20px 0 0 0;
}

.text_form__left_side {
    display: table-cell;
    vertical-align: top;
}


.text_form__content_holder {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 30px;
}

.text_form_prd__content_holder {
    display: table;
    vertical-align: top;
    width: 100%;
}

.text_form_prd__content_box {
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid lightgray;
}

.text_form_prd__textarea_holder {
    width: 97%;
    position: relative;
}


.text_form_prd__content_box > *+* {
    padding: 20px 0 0 0;
    border-top: 1px solid lightgray;
    width: 97%;
}


.left_side__imgadd_box {
    background: url('http://lingvolive.ru/assets/img/icons%20cut_border.png') no-repeat;
    width: 152px;
    height: 127px;
}

.left_side__imgadd_box-added {
    background: none;
    width: 100%;
    height: auto;
}
.left_side__imgadd_box-added img {
    width: 156px;
}

.imgadd_box__imgadd_icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: url('http://lingvolive.ru/assets/img/icons%20cut_80%20px.png') no-repeat -320px 0;

}

.imgadd_box__imgadd_text {
    margin-top: -12px;
    text-align: center;
    color: grey;
}

.lang_choose_holder {
    padding: 40px 20px 0 0;
    display: inline-block;
}

.lang_choose_box {
    font-size: 14px;
    position: relative;
}

.lang_choose_box__lng_btn_box {
    display: inline-block;
    vertical-align: middle;
    font-size: inherit;
    cursor: pointer;
    position: relative;
}

.lang_choose_box__lng_btn_box:hover {
    background: whitesmoke;
}

.lng_btn_box__current_lang_title_span {
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    /*height: 100%;
    width: 100%;*/
    padding: 4px;
}

.lng_btn_box__current_lang_title_span:hover {
    background: whitesmoke;
}

.lang_choose_holder-choosen {
    padding: 20px 20px 0 0;
    display: inline-block;
}

.lang_string_name {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.current_lang_title {
    display: inline-block;
    color: #308b3e;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid transparent;
    position: relative;
    cursor: pointer;
}
.current_lang_title:hover {
    background: whitesmoke;
}

.current_lang_title_span {
    font-size: inherit;
    display: block;
    height: 100%;
    width: 100%;
    padding: 4px;
}

.current_lang_title__dd_menu {
    position: absolute;
    background: white;
    z-index: 999;
    left: 0;
    top: 100%;
    margin-top: 5px;
    padding: 10px 0;
    border: 1px solid #308b3e;
    width: 200px;
    display: none;
}

.current_lang_title__dd_menu li {
    list-style: none;
    padding: 3px 0;
}

.current_lang_title__dd_menu li:hover {
    background: whitesmoke;
}


.dd_menu__lng_title {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 20px;
    width: 40px;
    text-align: right;
}

.dd_menu__lng_name {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 20px;
    color: black;
    text-align: left;
    text-transform: none;
}




.text_form__content_buffer{
    width: 100%;
    display: table;
}
.text_form__textarea_box-default {
    width: 66%;
    border-right: 1px solid lightgray;
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.text_form__person_avtr_holder {
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 190px;
    padding: 0 10px 0 40px;
    text-align: center;
}

.one_pix_line {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 1px;
    background: grey;
}

.text_form__textarea-default {
    padding:0 10px 0 10px;
    width: 100%;
    border: none!important;
    outline: none!important;
    min-height: 150px;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
}

.text_form__textarea-default-edit {
    font-family: 'Roboto Slab', Times new Roman;
    font-size: 15px;
}


.text_form_prd__textarea-default {
    padding:0 10px 0 10px;
    width: 100%;
    border: none!important;
    outline: none!important;
    min-height: 150px;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
}

.text_form_prd__textarea-edit-avtr {
    font-family: 'Roboto Slab';
    font-size: 19px;
    color: blue;
    height: 2em;
    min-height: 1em;
    padding-left: 40px;
}

.text_form_prd__textarea-default-avtr {
    padding:0 10px 0 10px;
    width: 100%;
    border: none!important;
    outline: none!important;
    min-height: 150px;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    padding-left: 40px;
}

.text_form_prd__textarea-context {
    padding-left: 0;
}


/* в макете не пон€тно, где то шрифты опенсанс, где то роболо
.zametka_text:focus {
    font-family: 'Roboto Slab', Times new Roman;
}
*/



.text_real {
    font-family: 'Roboto Slab', Times new Roman;
    min-height: 200px;
    padding-right: 10px;
}

.person_avtr_box__icon {
    background: url('http://lingvolive.ru/pictures/208376.jpg?preset=100x100,m-scale-crop') no-repeat;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}




.person_avtr_box_name {
    padding: 10px 0 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 140px;
}

.text_form__wht_blue_btn_holder{
    margin: 30px 0 0 182px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

.text_form_prd__wht_blue_btn_holder {
    padding-top: 20px;
    border-top: 1px solid lightgray;
}


.wht_blue_btn_box > *+* {
    margin-right: 20px;
}

.perevod_inner {
    margin-left: 0;
}

.wht_btn  {
    background: none;
    text-transform: uppercase;
    font-size: 12px;
    float: right;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid lightgray;
    color: gray;
}

.wht_btn:hover {
    background: #dadada;
}

.blue_btn {
    background: none;
    text-transform: uppercase;
    font-size: 12px;
    float: right;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid blue;
    background: blue;
    color: #ffffff;
}

.blue_btn:hover {
    background: blue;
}

.blue_btn-disabled {
    background: #b2d7ff;
    border: 1px solid #b2d7ff;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    float: right;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}



.options_choose_box {
    padding: 0 0 5px 0;
    display: block;
    width: 100%;
}


.trnsl_choose_box{
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px 0 0;
    font-size: 14px;
    width: 150px;
}
.trnsl_choose_box-disabled {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px 0 0;
    font-size: 14px;
    width: 150px;
    opacity: 0.5;
}


.chst_echy_box {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px 0 0;
    font-size: 14px;
    width: 215px;
}

.params_chooser {
    font-size: 14px;
}

.themes_choose_box {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: 158px;
}

.dir_changer {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -630px;
}

.lng_btn_box__drop_cursor {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -481px;
}



.lng_btn_box__dd_menu {
    position: absolute;
    background: white;
    z-index: 999;
    left: -40px;
    top: 100%;
    margin-top: 5px;
    padding: 10px 0;
    border: 1px solid #308b3e;
    width: 200px;
    display: none;
}

.lng_btn_box__dd_menu li {
    list-style: none;
    padding: 3px 0;
}

.lng_btn_box__dd_menu li:hover {
    background: whitesmoke;
}


.params_chooser {
    text-transform: none;
}
.dop_params {
    padding-top: 0;
}

.perevod_box {
    display: block;
    border: none;
    padding: 20px 0 0 0;
    border-bottom: 1px solid lightgray;
    width: 97%;
    position: relative;
}


.perevod_box .zametka_text {
    padding: 0;
}


/* смена цвета плейсхолдера во врем€€ покидани€ плей */

.text_form_prd__textarea-missed::-webkit-input-placeholder {color: pink;}
.text_form_prd__textarea-missed::-moz-placeholder {color: pink;}
.text_form_prd__textarea-missed:-moz-placeholder {color: pink;}
.text_form_prd__textarea-missed:-ms-input-placeholder {color: pink;}

.text_form_prd__textarea-empty::-webkit-input-placeholder {color: deepskyblue;}
.text_form_prd__textarea-empty::-moz-placeholder          {color:deepskyblue;}
.text_form_prd__textarea-empty:-moz-placeholder           {color:deepskyblue;}
.text_form_prd__textarea-empty:-ms-input-placeholder      {color:deepskyblue;}

.text_form_prd__textarea-emptyer::-webkit-input-placeholder {color: skyblue;}
.text_form_prd__textarea-emptyer::-moz-placeholder          {color:skyblue;}
.text_form_prd__textarea-emptyer:-moz-placeholder           {color:skyblue;}
.text_form_prd__textarea-emptyer:-ms-input-placeholder      {color:skyblue;}



.trnspblue {
    min-height: 0;
}

.left_aftr_focus_pr::-webkit-input-placeholder {color: #c0e3f2;}
.left_aftr_focus_pr::-moz-placeholder          {color:#c0e3f2;}
.left_aftr_focus_pr:-moz-placeholder           {color:#c0e3f2;}
.left_aftr_focus_pr:-ms-input-placeholder      {color:#c0e3f2;}

.text_form_prd__textarea-edit {
    font-family: 'Roboto Slab';
    font-size: 19px;
    color: blue;
    height: 2em;
    padding-left: 0;
    min-height: 1em;
}

.text_form_prd__textarea-edittrnsl {
    padding-left: 0;
}

.theme_option {
    text-align: center;
    color: gray;
    font-size: 14px;
    opacity: 0.7;
}

.perevod_box .text_real {
    min-height: 0;
    padding-bottom: 20px;
    font-size: 15px;
}

.perevod_box  .context {
    font-size: 15px;
    color: black;
}
.context_title {
    font-size: 16px;
    color: deepskyblue;
    padding-bottom: 10px;
}

.perevod_inner .perevod_box:nth-of-type(4) {
    border: none;
}

.perevod_rel .perevod_box:nth-of-type(4) {
    border: none;
}

.perevod_rel .zametka_text {
    min-height: 100px;
}

.themes_choose_modal_box {
    padding-top: 0;
}

.choosen_themes__ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.choosen_themes__ul li {
    display: inline-block;
}

.themes_choose__choosen_themes span.decline_chs {
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -570px;
    height: 20px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}


.themes_choose__search_box {
    border: 1px solid lightgray;
    margin-top: 20px;
    padding: 0 5px 3px 0;
}
.search_form__search_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    /*background: none;*/
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -329px;
    vertical-align: middle;
}
.search_form__search_inpt_holder {
    display: inline-block;
    vertical-align: middle;
    max-width: 690px;
    width: 100%;
}
.search-input {
    border: none!important;
    outline: none!important;
    font-size: 16px;
    width: 100%;
}

.theme_list_box {
    width: 100%;
    margin-top: 30px;
    display: table;
}

.theme_column {
    width: 133px;
    padding-right: 15px;
    display: table-cell;
}
.theme_list_box:nth-of-type(5) {
    padding-right: 0;
}

.theme_column {
    color: gray;
}

.rec_usd {
    padding-bottom: 25px;
}

.theme_column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.theme_column ul li {
    font-size: 12px;
    padding-bottom: 5px;
    color: gray;
    cursor: pointer;
}
.theme_column ul li:nth-of-type(1) {
    padding-top: 5px;
}

.theme_column ul li:hover {
    color: blue;
}

 .small_user_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -420px;
}

 .small_user_icon-edit {
     position: absolute;
     top: 20px;
     left: 0;
     width: 30px;
     height: 30px;
     background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -420px;
 }

 .min-height-2em {
     min-height: 2em;
 }