
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    vertical-align: baseline;
    outline: none;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #f1f1f2;
}

header {
    padding: 70px 0 0 30px;
}

.top_icon, .top_title {
    display: inline-block;
    padding-right: 20px;
}

.top_icon {
    background: url('http://lingvolive.ru/assets/img/guideline_Icon_LL.png') no-repeat;
    height: 60px;
    width: 80px;
}


.top_title h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 52px;
    color: #ff2d55;
}

.main {
    padding: 30px 0 0 60px;
    width: 860px;
}

.item {
    background: #ffffff;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 30px;
}

.item_inner {
    padding: 20px 0 0 0;
}

.left_side, .content_holder {
    display: table-cell;
    vertical-align: top;
}

.camera_holder {
    background: url('http://lingvolive.ru/assets/img/icons%20cut_border.png') no-repeat;
    width: 152px;
    height: 127px;
}

.stock {
    background: none;
    width: 100%;
    height: auto;
}
.stock img {
    width: 156px;
}

.camera_icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: url('http://lingvolive.ru/assets/img/icons%20cut_80%20px.png') no-repeat -320px 0;

}

.camera_text {
    margin-top: -12px;
    text-align: center;
    color: grey;
}

.lang{
    padding: 40px 20px 0 0;
    color: gray;
    font-size: 14px;
    display: inline-block;
}
.lang_id {
    color: #308b3e;
    text-transform: uppercase;
    font-size: 14px;
}

.content_holder {
    width: 100%;
    padding-left: 30px;
}
.content_buffer {
    width: 100%;
    display: table;
}

.text_box, .avatar {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.text_box {
    width: 66%;
    border-right: 1px solid lightgray;
}

.one_pix_line {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 1px;
    background: grey;
}

.zametka_text {
    padding:0 10px 0 10px;
    width: 100%;
    border: none!important;
    outline: none!important;
    min-height: 150px;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
}

/* в макете не пон€тно, где то шрифты опенсанс, где то роболо
.zametka_text:focus {
    font-family: 'Roboto Slab', Times new Roman;
}
*/



.edit {
    font-family: 'Roboto Slab', Times new Roman;
    font-size: 15px;
}

.text_real {
    font-family: 'Roboto Slab', Times new Roman;
    min-height: 200px;
    padding-right: 10px;
}

.avatar_icon {
    background: url('http://lingvolive.ru/pictures/208376.jpg?preset=100x100,m-scale-crop') no-repeat;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}


.avatar {
    width: 190px;
    padding: 0 10px 0 40px;
    text-align: center;
}

.avatar_text {
    padding: 10px 0 0 0;
}

.botton_line {
    margin: 30px 0 0 182px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

.perevod_inner .botton_line {
    margin-left: 0;
}

.trnsp_btn, .blue_btn {
    background: none;
    text-transform: uppercase;
    font-size: 12px;
    float: right;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.blue_btn {
    border: 1px solid blue;
    background: blue;
    color: #ffffff;
}
.blue_btn:hover {
    background: blue;
}

.blue_btn[disabled="disabled"] {
    background: #b2d7ff!important;
    border: 1px solid #b2d7ff;
    color: #ffffff!important;
}
.trnsp_btn:hover {
    background: #dadada;
}

.trnsp_btn {
    border: 1px solid lightgray;
    color: gray;
}

.perevod_block {
    width: 533px;
}



.lng_option_box {
    padding: 0 0 5px 0;
    border-bottom: 1px solid lightgray;
    width: 97%;
}

.lng_option_box .lang {
    display: table-cell;
    padding: 0 15px 0 0;
}

.lng_option_box .lang:nth-of-type(3) {
    padding: 0;
}

.dir_changer, .drop_cursor {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -630px;
}

.drop_cursor {
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -481px;
}

.params_chooser {
    text-transform: none;
}
.dop_params {
    padding-top: 0;
}

.perevod_box {
    display: block;
    border: none;
    padding: 20px 0 0 0;
    border-bottom: 1px solid lightgray;
    width: 97%;
    position: relative;
}


.perevod_box .zametka_text {
    padding: 0;
}


/* смена цвета плейсхолдера во врем€€ покидани€ плей */

.missed::-webkit-input-placeholder {color: pink;}
.missed::-moz-placeholder {color: pink;}
.missed:-moz-placeholder {color: pink;}
.missed:-ms-input-placeholder {color: pink;}

.left_aftr_focus::-webkit-input-placeholder {color: deepskyblue;}
.left_aftr_focus::-moz-placeholder          {color:deepskyblue;}
.left_aftr_focus:-moz-placeholder           {color:deepskyblue;}
.left_aftr_focus:-ms-input-placeholder      {color:deepskyblue;}

.left_aftr_focus_cm::-webkit-input-placeholder {color: skyblue;}
.left_aftr_focus_cm::-moz-placeholder          {color:skyblue;}
.left_aftr_focus_cm:-moz-placeholder           {color:skyblue;}
.left_aftr_focus_cm:-ms-input-placeholder      {color:skyblue;}



.trnspblue {
    min-height: 0;
}

.left_aftr_focus_pr::-webkit-input-placeholder {color: #c0e3f2;}
.left_aftr_focus_pr::-moz-placeholder          {color:#c0e3f2;}
.left_aftr_focus_pr:-moz-placeholder           {color:#c0e3f2;}
.left_aftr_focus_pr:-ms-input-placeholder      {color:#c0e3f2;}

.translate_text {
    font-family: 'Roboto Slab';
    font-size: 19px;
    color: blue;
    height: 2em;
    padding-left: 0;
    min-height: 1em;
}

.theme_option {
    text-align: center;
    color: gray;
    font-size: 14px;
    opacity: 0.7;
}

.perevod_box .text_real {
    min-height: 0;
    padding-bottom: 20px;
    font-size: 15px;
}

.perevod_box  .context {
    font-size: 15px;
    color: black;
}
.context_title {
    font-size: 16px;
    color: deepskyblue;
    padding-bottom: 10px;
}

.perevod_inner .perevod_box:nth-of-type(4) {
    border: none;
}

.perevod_rel .perevod_box:nth-of-type(4) {
    border: none;
}

.perevod_rel .zametka_text {
    min-height: 100px;
}

.themes_choose {
    display: block;
    padding-left: 0;
}

.choosen_themes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.choosen_themes ul li {
    display: inline-block;
}

.choosen_themes span.decline_chs {
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -570px;
    height: 20px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}


.search_box{
    border: 1px solid lightgray;
    margin-top: 20px;
    padding: 0 5px 3px 0;
}
button.search_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    /*background: none;*/
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -329px;
    vertical-align: middle;
    cursor: pointer;
}
.search_inpt_holder {
    display: inline-block;
    vertical-align: middle;
    max-width: 690px;
    width: 100%;
}
.search-input {
    border: none!important;
    outline: none!important;
    font-size: 16px;
    width: 100%;
}

.theme_list_box {
    width: 100%;
    margin-top: 30px;
    display: table;
}

.theme_column {
    width: 133px;
    padding-right: 15px;
    display: table-cell;
}
.theme_list_box:nth-of-type(5) {
    padding-right: 0;
}

.theme_column {
    color: gray;
}

.rec_usd {
    padding-bottom: 25px;
}

.theme_column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.theme_column ul li {
    font-size: 12px;
    padding-bottom: 5px;
    color: gray;
    cursor: pointer;
}
.theme_column ul li:nth-of-type(1) {
    padding-top: 5px;
}

.theme_column ul li:hover {
    color: blue;
}

.second_step .small_user_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url('http://lingvolive.ru/assets/img/icons_general.png') no-repeat 0 -420px;
}
.second_step .perevod_box .small_user_icon {
    top: 20px;
}

.second_step .translate_text {
    padding-left: 40px;
    min-height: 100px;
}
.second_step .lang:nth-of-type(1), .second_step .lang:nth-of-type(1) .dir_changer {
    opacity: 0.5;
    cursor: text;
}

.second_step .perevod_box:nth-of-type(2) .one_pix_line {
    top: 20px;
    left: 10px;
}



.second_step .perevod_box:nth-of-type(3) .zametka_text {
    padding-left: 40px;
}

 .second_step .perevod_box:nth-of-type(2) .zametka_text, .second_step .perevod_box:nth-of-type(3) .zametka_text:nth-of-type(2), .second_step .perevod_box:nth-of-type(4) .zametka_text {
    padding-left: 20px;
}


